cohere
ddgs
duckduckgo_search
google-genai
google-generativeai
graphviz
groq
ipykernel
ipywidgets
langchain
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-docling
langchain-experimental
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-mistralai
langchain-openai
langchain-pinecone
langchain-tavily
langchainhub
langgraph
matplotlib
mistralai
numexpr
pandas-datareader
pinecone
pypdf
python-dotenv
scikit-learn
sentence-transformers
streamlit
wikipedia
jupyterlab